div#footer {
  background: #111111;
  color: #ffffff;
  padding: 0px 70px;
}

div#footer p {
  font-size: 15px;
  line-height: 25px;
}

div#footer-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div#footer-top > div{
  width: 380px;
  margin-left: 10px;
}

div#footer-top h1{
  padding: 40px 0px;
  font-size: 35px;
}

p.footer-about {
  color: #606060;
}

div.sotial-circle-left {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.contact-footer p {
  padding: 10px 0px;
  color: #848C97;
}

input.submit-footer {
  background: #269A45 !important;
}

input.submit-footer:hover {
  background: #ffffff !important;
  color: #000000;
}

div.copyright {
  padding: 20px 10px;
  font-size: 20px;
}
