div#header-top-div {
  padding: 0px 80px;
}

ul#header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 20px 35px;
}

ul#header-top li {
  margin: 5px 15px;
  padding-right: 10px;
  color: #A8A8A8;
  cursor: pointer;
}

img.icon {
  height: 14px;
  padding-right: 10px;
}

img.social {
  height: 14px;
  padding: 6px;
  cursor: pointer;
}

ul#social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}

ul#social li {
  margin-bottom: 8px;
  margin-right: 10px;
  display: flex;
  border-radius: 50px;
  cursor: pointer;
}

ul#social li:hover {
  background: #269A45;
}

div#header-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
  border-top: 1px solid #EAEAEA;
}

div#logo {
  display: flex;
  align-items: center;
  font-size: 30px;
}

img.logo {
  height: 50px;
  margin-right: 20px;
}

ul.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

ul.menu li {
  padding: 35px 15px;
  font-weight: bold;
  font-size: 20px;
  transition: .3s;
  cursor: pointer;
}

div#header-bottom a {
  text-decoration: inherit;
  color: inherit;
  margin: 0px 10px;
}

ul.menu li.active {
  color: rgb(40, 46, 41);
}

ul.menu li:hover {
  color: #269A45;
  background: #EAEAEA;
}

div#menu-button {
  position: relative;
  height: 35px;;
  width: 35px;
  display: none;
  cursor: pointer;
}

div.menu-line {
  position: absolute;
  height: 7px;
  width: 40px;
  background: #009B3C;
}

div.l1 {
  top: 0px;
}

div.l2 {
  top: 50%;
  transform: translate(0%, -50%);
}

div.l3 {
  bottom: 0px;
}

div.menu-button {
  display: none;
}

div.mobile-menu {
  display: none;
  position: absolute;
  top: 110px;
  left: 0px;
  width: 100%;
  background: #ffffff;
}
ul.mobile-menu-list {
  list-style-type: none;
  text-align: center;
}

ul.mobile-menu-list li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

ul.mobile-menu-list li.active {
  color: #269A45;
}

ul.mobile-menu-list li a {
  text-decoration: none;
  color: inherit;
}

ul.mobile-menu-list li:hover {
  color: #269A45;
}
